.item {
  list-style: none;
  width: calc(100% / 5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item:last-child {
  border-bottom-right-radius: 3px;
}

.item:first-child {
  border-bottom-left-radius: 3px;
}

.label {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 6px;
}

.percentage {
  font-size: 28px;
  color: #fff;
}
