.statistics {
  width: 400px;
  box-shadow: 0px 5px 10px rgba(209, 216, 223, 1);
  border-radius: 3px;
}

.title {
  display: block;
  height: 100px;
  font-size: 30px;
  text-transform: uppercase;
  color: #7e8285;
  text-align: center;
  padding: 35px 10px;
  background-color: #fff;
  letter-spacing: 1.2px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.statList {
  height: 90px;
  display: flex;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.statItem {
}
